/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(../../bower_components/normalize.css/normalize.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@media (min-width: 1000px) {
  .logo {
    margin-left: 135px; }

  .signin {
    padding-right: 130px; }

  .awesome {
    height: 620px; }
    .awesome .img {
      display: block;
      position: absolute;
      margin-top: -80px;
      right: 0;
      left: 0; }
    .awesome .content {
      display: block;
      padding-top: 440px; }

  .about {
    display: block;
    height: 480px;
    margin-left: 135px; }
    .about .ab-text {
      width: 480px; }
    .about .img-block {
      display: block;
      float: right;
      margin-top: -285px; } }
    @media (min-width: 1000px) and (max-width: 1110px) {
      .about .img-block {
        margin-right: 10px; } }
    @media (min-width: 1000px) and (min-width: 1110px) {
      .about .img-block {
        margin-right: 130px; } }

@media (min-width: 1000px) {
  .footer .copyr {
    display: inline-block;
    float: left;
    margin-left: 135px; }
  .footer .des {
    display: inline-block;
    float: right;
    margin-right: 135px; } }
@media (max-width: 1000px) {
  .logo {
    margin-left: 0; }

  .signin {
    padding-right: 60px; }

  .awesome .img {
    display: block;
    width: 100%; }
    .awesome .img img {
      max-width: 100%; }

  .about {
    text-align: center;
    width: 100%; }
    .about .img-block img {
      max-width: 100%; }
    .about .button {
      margin: 30px auto; }

  .footer {
    text-align: center; }
    .footer .copyr {
      display: block; }
    .footer .des {
      display: block; } }
body {
  font-family: "Open Sans", sans-serif; }
  body .body {
    display: block;
    max-width: 1250px;
    margin: 0 auto;
    width: 100%;
    overflow: hidden; }
    body .body .header {
      display: block;
      width: 100%;
      min-height: 60px;
      background-color: #008fd5; }
      body .body .header .logo {
        display: inline-block;
        margin-top: 15px; }
      body .body .header .signin {
        display: inline-block;
        float: right;
        margin-top: 15px;
        color: #ffffff;
        font-size: 15px; }
        body .body .header .signin .but1 {
          display: inline-block;
          width: 70px;
          height: 27px;
          background-color: #1471b3;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          text-align: center;
          z-index: 1;
          margin-right: -10px; }
          body .body .header .signin .but1 span {
            padding-top: 5px;
            display: block; }
        body .body .header .signin .but2 {
          display: inline-block;
          color: #008fd5;
          background-color: #1065a1;
          height: 35px;
          width: 35px;
          border-radius: 35px;
          text-align: center;
          z-index: 2; }
          body .body .header .signin .but2 span {
            padding-top: 10px;
            display: block; }
        body .body .header .signin .but3 {
          display: inline-block;
          width: 70px;
          height: 27px;
          background-color: #1471b3;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          text-align: center;
          z-index: 1;
          margin-right: -100px;
          margin-left: 25px; }
          body .body .header .signin .but3 span {
            padding-top: 5px;
            display: block; }
    body .body .subscribe {
      display: block;
      width: 100%;
      min-height: 345px;
      padding-top: 50px; }
      body .body .subscribe .text {
        display: block;
        margin: 0 auto; }
        body .body .subscribe .text .title {
          display: block;
          width: 100%;
          text-align: center;
          font-weight: 900;
          font-size: 30px;
          margin-bottom: 25px;
          color: #3c4348; }
        body .body .subscribe .text .subtitle {
          display: block;
          width: 100%;
          text-align: center;
          font-weight: 600;
          font-size: 17px;
          color: #1196d8; }
        body .body .subscribe .text img {
          display: block;
          margin: 30px auto; }
      body .body .subscribe .subs-form {
        display: block;
        margin-top: 20px;
        width: 100%;
        text-align: center; }
        body .body .subscribe .subs-form input {
          display: inline-block;
          width: 395px;
          max-width: 100%;
          height: 45px;
          border-radius: 3px;
          background-color: #f0f5f8;
          font-size: 13px;
          border: solid #d7dfe5 1px;
          padding-left: 15px;
          vertical-align: middle; }
        body .body .subscribe .subs-form .subs-subm {
          display: inline-block;
          width: 135px;
          height: 45px;
          border-radius: 3px;
          background-color: #f5f6f7;
          border: solid #d7dfe5 1px;
          margin-left: 10px;
          vertical-align: middle; }
          body .body .subscribe .subs-form .subs-subm button {
            display: block;
            margin-top: 2px;
            margin-left: 2px;
            width: 130px;
            height: 40px;
            color: #ffffff;
            text-align: center;
            border: solid #d7dfe5 1px;
            border-radius: 3px;
            background-color: #82b74b;
            font-size: 20px;
            font-weight: 700; }
    body .body .awesome {
      display: block;
      width: 100%;
      text-align: center;
      background-color: #e6eff6; }
      body .body .awesome .content {
        display: block;
        width: 850px;
        max-width: 100%;
        text-align: center;
        margin: 0 auto; }
        body .body .awesome .content .title {
          display: block;
          font-size: 30px;
          color: #3c4348;
          font-weight: 900; }
        body .body .awesome .content .cnt-text {
          display: block;
          margin-top: 35px;
          color: #868c90;
          font-size: 13px;
          font-weight: 600; }
        body .body .awesome .content .button {
          display: block;
          width: 107px;
          height: 27px;
          color: #ffffff;
          text-align: center;
          background-color: #1471b3;
          border-radius: 27px;
          cursor: pointer;
          margin: 30px auto; }
          body .body .awesome .content .button span {
            display: block;
            padding-top: 5px; }
    body .body .about {
      display: block;
      width: 100%; }
      body .body .about .ab-text {
        display: block;
        margin-top: 85px;
        max-width: 100%; }
        body .body .about .ab-text .ab-title {
          display: block;
          font-size: 30px;
          font-weight: 900; }
        body .body .about .ab-text .ab-text {
          display: block;
          color: #868c90;
          font-size: 13px;
          font-weight: 600;
          margin-top: 40px;
          line-height: 23px; }
        body .body .about .ab-text .ab-text1 {
          margin-top: 40px;
          display: block;
          color: #868c90;
          font-size: 13px;
          font-weight: 700;
          line-height: 23px; }
        body .body .about .ab-text .button {
          display: block;
          width: 107px;
          height: 27px;
          color: #ffffff;
          text-align: center;
          background-color: #1471b3;
          border-radius: 27px;
          cursor: pointer;
          margin: 30px auto; }
          body .body .about .ab-text .button span {
            display: block;
            padding-top: 5px; }
    body .body .footer {
      display: block;
      width: 100%;
      height: 85px;
      background-color: #ececec;
      color: #9ba1a5;
      font-size: 13px; }
      body .body .footer .copyr {
        margin-top: 40px; }
      body .body .footer .des {
        margin-top: 40px; }

/*# sourceMappingURL=style.css.map */
