@media (min-width: 1000px) {
  .logo{
    margin-left: 135px;
  }
  .signin{
    padding-right: 130px;
  }
  .subscribe{

  }
  .awesome{
    height: 620px;
    .img {
      display:block;
      position: absolute;
      margin-top: -80px;
      right: 0;
      left: 0;
    }
    .content{
      display: block;
      padding-top: 440px;
      .title{

      }
      .cnt-text{

      }
    }
  }
  .about {
    display: block;
    height:480px;
    margin-left: 135px;
    .ab-text{
      width: 480px;
    }
    .img-block{
      display: block;
      float: right;
      @media (max-width: 1110px) {
        margin-right: 10px;
      }
      @media (min-width: 1110px) {
        margin-right: 130px;
      }
      margin-top: -285px;
    }
  }
  .footer {
    .copyr{
      display: inline-block;
      float: left;
      margin-left: 135px;
    }
    .des{
      display: inline-block;
      float: right;
      margin-right: 135px;
    }
  }
}
