@media (max-width: 1000px) {
  .logo {
    margin-left: 0;
  }
  .signin {
    padding-right: 0;
  }
  .subscribe {

  }
  .awesome{
    .img {
      display: block;
      width: 100%;
      img{
        max-width: 100%;
      }
    }
  }
  .about{
    text-align: center;
    width: 100%;
    .img-block{
      img{
        max-width: 100%;
      }
    }
    .button{
      margin: 30px auto;
    }
  }
}