@import "../../bower_components/reset-scss/reset";
@import "../../bower_components/normalize.css/normalize.css";
@import "big-screen";
@import "small-screen";
@import "var/_var";

body {
  font-family: $font;
  .body {
    display: block;
    max-width: 1250px;
    margin: 0 auto;
    width: 100%;
    .header {
      display: block;
      width: 100%;
      min-height: 60px;
      background-color: #008fd5;
      .logo {
        display: inline-block;
        margin-top: 15px;
      }
      .signin {
        display: inline-block;
        float: right;
        margin-top: 15px;
        color: #ffffff;
        font-size: 15px;
        .but1 {
          display: inline-block;
          width: 70px;
          height: 27px;
          background-color: #1471b3;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          text-align: center;
          z-index: 1;
          margin-right: -10px;
          span {
            padding-top: 5px;
            display: block;
          }
        }
        .but2 {
          display: inline-block;
          color: #008fd5;
          background-color: #1065a1;
          height: 35px;
          width: 35px;
          border-radius: 35px;
          text-align: center;
          z-index: 2;
          span {
            padding-top: 10px;
            display: block;
          }
        }
        .but3 {
          display: inline-block;
          width: 70px;
          height: 27px;
          background-color: #1471b3;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          text-align: center;
          z-index: 1;
          margin-left: -10px;
          span {
            padding-top: 5px;
            display: block;
          }
        }
      }
    }
    .subscribe{
      display: block;
      width: 100%;
      min-height: 345px;
      padding-top: 50px;
      .text {
        display: block;
        margin: 0 auto;
        .title {
          display: block;
          width: 100%;
          text-align: center;
          font-weight: 900;
          font-size: 30px;
          margin-bottom: 25px;
          color: #3c4348;
        }
        .subtitle {
          display: block;
          width: 100%;
          text-align: center;
          font-weight: 600;
          font-size: 17px;
          color: #1196d8;
        }
        img{
          display: block;
          margin: 0 auto;
          margin-top: 30px;
        }
      }
    }
  }
}