@import "../../bower_components/reset-scss/reset";
@import "big-screen";
@import "small-screen";
@import "var/_var";
body{
  .page{
    display: block;
    width: 1600px;
    max-width: 100%;
    margin: 0 auto;
  }
  .header{
    display: block;
    width: 100%;
    height: 600px;
    background: url(../../img/header.png) no-repeat;
    @include border('top',solid,#2ecc71,10px);
  }
}