@import "../../bower_components/reset-scss/reset";
@import "../../bower_components/normalize.css/normalize.css";
@import "big-screen";
@import "small-screen";
@import "var/_var";

body {
  .body {
    display: block;
    max-width: 1250px;
    margin: 0 auto;
    width: 100%;
  }
}