@mixin border($part,$style,$color,$width) {
  @if $part=='all' {
    border: $style $color $width;
  }
  @if $part=='top' {
    border-top: $style $color $width;
  }
  @if $part=='right' {
    border-right: $style $color $width;
  }
  @if $part=='bottom' {
    border-bottom: $style $color $width;
  }
  @if $part=='left' {
    border-left: $style $color $width;
  }
}